In [33]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\user\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.26.9)

1.Python program to display all the header tags from wikipedia.org.

In [17]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://www.wikipedia.org/')
soup = BeautifulSoup(page.content)
heading = soup.find_all(['h1', 'h2',])
for h in heading:
    print(h)

<h1 class="central-textlogo-wrapper">
<span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
Wikipedia
</span>
<strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan">The Free Encyclopedia</strong>
</h1>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000 000+
</bdi>
<span class="jsl10n" data-jsl10n="entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
10 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

# 2)   Write a python program to display IMDB’s Top rated 100 movies’

In [23]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
soup = BeautifulSoup(page.content)
title=[]
for i in soup.find_all('h3',class_="lister-item-header"):
    title.append(i.text.replace("\n",""))
title
rating=[]
for i in soup.find_all('div',class_="inline-block ratings-imdb-rating"):
    rating.append(i.text.replace("\n",""))
rating
import pandas as pd
df=pd.DataFrame({'Title and realease year':title,'Rating':rating})
df.set_index('Title and realease year')

                                                   Rating
Title and realease year
1.The Shawshank Redemption(1994)                      9.3
2.The Godfather(1972)                                 9.2
3.The Dark Knight(2008)                               9.0
4.The Lord of the Rings: The Return of the King...    9.0
5.Schindler's List(1993)                              9.0
6.The Godfather Part II(1974)                         9.0
7.12 Angry Men(1957)                                  9.0
8.Pulp Fiction(1994)                                  8.9
9.Inception(2010)                                     8.8
10.The Lord of the Rings: The Two Towers(2002)        8.8
11.Fight Club(1999)                                   8.8
12.The Lord of the Rings: The Fellowship of the...    8.8
13.Forrest Gump(1994)                                 8.8
14.Il buono, il brutto, il cattivo(1966)              8.8
15.The Matrix(1999)                                   8.7
16.Goodfellas(1990)                                   8.7
17.The Empire Strikes Back(1980)                      8.7
18.One Flew Over the Cuckoo's Nest(1975)              8.7
19.Top Gun: Maverick(2022)                            8.6
20.Interstellar(2014)                                 8.6
21.Cidade de Deus(2002)                               8.6
22.Sen to Chihiro no kamikakushi(2001)                8.6
23.Saving Private Ryan(1998)                          8.6
24.The Green Mile(1999)                               8.6
25.La vita è bella(1997)                              8.6
26.Se7en(1995)                                        8.6
27.Terminator 2: Judgment Day(1991)                   8.6
28.The Silence of the Lambs(1991)                     8.6
29.Star Wars(1977)                                    8.6
30.Seppuku(1962)                                      8.6
31.Shichinin no samurai(1954)                         8.6
32.It's a Wonderful Life(1946)                        8.6
33.Gisaengchung(2019)                                 8.5
34.Whiplash(2014)                                     8.5
35.The Intouchables(2011)                             8.5
36.The Prestige(2006)                                 8.5
37.The Departed(2006)                                 8.5
38.The Pianist(2002)                                  8.5
39.Gladiator(2000)                                    8.5
40.American History X(1998)                           8.5
41.The Usual Suspects(1995)                           8.5
42.Léon(1994)                                         8.5
43.The Lion King(1994)                                8.5
44.Nuovo Cinema Paradiso(1988)                        8.5
45.Hotaru no haka(1988)                               8.5
46.Back to the Future(1985)                           8.5
47.Apocalypse Now(1979)                               8.5
48.Alien(1979)                                        8.5
49.Once Upon a Time in the West(1968)                 8.5
50.Psycho(1960)                                       8.5

3)   Write a python program to display IMDB’s Top rated 100 Indian movies’ data

In [2]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://www.imdb.com/list/ls056092300/')
soup = BeautifulSoup(page.content)
title=[]
for i in soup.find_all('h3',class_="lister-item-header"):
    title.append(i.text.replace("\n",""))
title
rating=[]
for i in soup.find_all('div',class_="ipl-rating-star small"):
    rating.append(i.text.replace("\n",""))
rating
import pandas as pd
df=pd.DataFrame({'Title and realease year':title,'Rating':rating})
df.set_index('Title and realease year')

                                          Rating
Title and realease year
1.Ship of Theseus(2012)                        8
2.Iruvar(1997)                               8.4
3.Kaagaz Ke Phool(1959)                      7.8
4.Lagaan: Once Upon a Time in India(2001)    8.1
5.Pather Panchali(1955)                      8.3
...                                          ...
96.Apur Sansar(1959)                         8.5
97.Kanchivaram(2008)                         8.1
98.Monsoon Wedding(2001)                     7.3
99.Black(2005)                               8.1
100.Deewaar(1975)                              8

[100 rows x 1 columns]

4)   Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)

In [15]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup = BeautifulSoup(page.content)
title=[]
for i in soup.find_all('div',class_="presidentListing"):
    title.append(i.text.replace("\n",""))
title

['Shri Ram Nath Kovind (birth - 1945)Term of Office: 25 July, 2017 to 25 July, 2022 https://ramnathkovind.nic.in',
 'Shri Pranab Mukherjee (1935-2020)Term of Office: 25 July, 2012 to 25 July, 2017 http://pranabmukherjee.nic.in',
 'Smt Pratibha Devisingh Patil (birth - 1934)Term of Office: 25 July, 2007 to 25 July, 2012 http://pratibhapatil.nic.in',
 'DR. A.P.J. Abdul Kalam (1931-2015)Term of Office: 25 July, 2002 to 25 July, 2007 http://abdulkalam.nic.in',
 'Shri K. R. Narayanan (1920 - 2005)Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Dr Shankar Dayal Sharma (1918-1999)Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Shri R Venkataraman (1910-2009)Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Giani Zail Singh (1916-1994)Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Shri Neelam Sanjiva Reddy (1913-1996)Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)Term of Office: 24 August, 1974 to 11 February, 1977',
 'Shri Varahagiri Venkata Giri (1894-1980)Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Dr. Zakir Husain (1897-1969)Term of Office: 13 May, 1967 to 3 May, 1969',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)Term of Office: 13 May, 1962 to 13 May, 1967',
 'Dr. Rajendra Prasad (1884-1963) Term of Office: 26 January, 1950 to 13 May, 1962']

7)   Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

In [41]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://www.cnbc.com/world/?region=world')
soup = BeautifulSoup(page.content)
title=[]
for i in soup.find_all('div',class_="LatestNews-headlineWrapper"):
    title.append(i.text.replace("\n",""))
title

['39 Min AgoBethenny Frankel: The most successful people have an ‘unstoppable nature’',
 '1 Hour AgoThe 7 states with the least credit card debt ',
 '1 Hour AgoAlbemarle beats estimates on lithium prices, CEO urges easier permitting process',
 '1 Hour AgoThese stocks are best positioned to weather a looming advertising recession',
 '1 Hour AgoStrong returns are hard to find in 2022. Three strategies to save a few bucks',
 '2 Hours AgoSome consumers are cutting back on restaurant spending, but CEOs say not all chains are affected',
 '2 Hours AgoClimate change is making some homes to costly to insure ',
 '3 Hours AgoWhy creating a horror movie haven on Netflix may be a smart move',
 '17 Hours AgoElon Musk challenges Twitter CEO Parag Agrawal to a debate on bots',
 "18 Hours AgoLarge Indiana employers Eli Lilly and Cummins speak out about the state's new restrictive abortion law",
 '20 Hours AgoCzech prince raises $300,000 in NFTs to restore castles and ancient artifacts',
 '21 Hours AgoPresident Joe Biden tests negative for Covid-19 after rebound case',
 "21 Hours AgoFed Governor Bowman sees 'similarly sized' interest rate hikes ahead ",
 "23 Hours AgoThis 39-year-old makes $160K/month in passive income—a look at his typical day: 'I work 5 hours a week'",
 '24 Hours AgoMost of Buffett’s portfolio is tied up in just 5 stocks. Here’s what they are',
 'August 6, 20225 tips for cutting down on credit card costs ahead of rising interest rates',
 'August 6, 2022This 41-year-old left the U.S. for Bangkok and lives on $8,000 a month',
 "August 6, 2022It's time to cash in on these attractive stocks, according to Goldman Sachs",
 "August 6, 2022Here's why getting fired from a job you hate can still be upsetting ",
 "August 6, 2022'Stressed out' STD clinics struggle with surge in monkeypox patients",
 'August 6, 2022Want to build generational wealth? Avoid these 7 U.S. cities',
 'August 6, 2022A.I.-powered drug hunters are nearing a pivotal stage in their development ',
 "August 6, 2022The 2022 stock market doesn't have to repeat — it only has to rhyme",
 'August 6, 2022Berkshire reports operating earnings surge, but posts big investment loss ',
 'August 6, 2022Why the best states for business may be the worst for workers',
 'August 6, 2022Higher prices, skimpier portions and apps — how fast-food chains are changing value deals',
 "August 6, 2022What to know before 'unretiring' if you're on Social Security",
 'August 6, 2022Netflix is expanding its push into video games, but few subscribers are playing',
 "August 5, 2022There are 'more intelligent ways' for U.S. to support Taiwan: ex-Singapore diplomat",
 'August 5, 2022California DMV accuses Tesla of deceptive marketing around Autopilot, FSD']

8)   Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

In [55]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://www.sciencedirect.com/journal/artificial-intelligence')
page

9)   Write a python program to scrape mentioned details from dineout.co.in :

In [64]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup = BeautifulSoup(page.content)
name=[]
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    name.append(i.text.replace("\n",""))
name
cuisine=[]
for i in soup.find_all('div',class_="detail-info"):
    cuisine.append(i.text.replace("\n","").split()[-2:])
cuisine
location=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text.replace("\n",""))
location

rating=[]
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text.replace("\n",""))
rating
imgs=[]
for i in soup.find_all('img',class_="no-img"):
    imgs.append(i['data-src'])
imgs
import pandas as pd
df=pd.DataFrame({'Resturent name':name,'Cuisine':cuisine,'Location':location,'Rating':rating,'Image_url':imgs})
df.set_index('Resturent name')

,Cuisine,Location,Rating,Image_url
Resturent name,,,,
Castle Barbeque,"[North, Indian]","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
Jungle Jamboree,"[Asian,, Italian]","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Castle Barbeque,"[North, Indian]","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Cafe Knosh,"[Italian,, Continental]","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
The Barbeque Company,"[deals, available]","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
India Grill,"[Indian,, Italian]","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Delhi Barbeque,"[North, Indian]","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
The Monarch - Bar Be Que Village,"[North, Indian]","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
Indian Grill Room,"[Indian,, Mughlai]","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

In [65]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
soup = BeautifulSoup(page.content)
name=[]
for i in soup.find_all('th',class_="gsc_mvt_p"):
    name.append(i.text.replace("\n",""))
name
cuisine=[]
for i in soup.find_all('th',class_="gsc_mvt_t"):
    cuisine.append(i.text.replace("\n",""))
cuisine
location=[]
for i in soup.find_all('th',class_="gsc_mvt_t"):
    location.append(i.text.replace("\n",""))
location

rating=[]
for i in soup.find_all('th',class_="gsc_mvt_t"):
    rating.append(i.text.replace("\n",""))
rating
imgs=[]
for i in soup.find_all('img',class_="no-img"):
    imgs.append(i['data-src'])
imgs
import pandas as pd
df=pd.DataFrame({'Resturent name':name,'Cuisine':cuisine,'Location':location,'Rating':rating,'Image_url':imgs})
df.set_index('Resturent name')